body {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}
.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}
.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}
.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
}

.DisplaySection {
  background-color: black;
  color: yellow;
  border-radius: 20px;
  margin: 50px;
  padding: 30px;
}

.PokemonPagebody {
  background-color: #690620;
  color: white;
}
